.add-participant-form {
    padding: 1rem;
    height: 2.5rem;
    background-color: #FFFFFF;
    margin-bottom: 0.75rem;
}

input[type="text"] {
    background-color: #FAFAFA;
    height: calc(2.5rem - 2px);
    border: 1px solid #F1F1F1;
    margin: 0 1rem 0 0;
    padding: 0 1rem;
}

input[type="text"]::placeholder {
    font-size: 1rem;
    font-weight: 400;
}

.add-participant-form input[type="submit"] {
    height: calc(2.5rem - 2px);
    background-color: #EDEDED;
    border: 0;
    color: #757575;
    line-height: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
    vertical-align: middle;
    padding: 0 2rem;
}